.newList{
    width: 70%;
    height: 600px;
    margin: 10px;
    border: 3px solid #007b40;
    border-radius: 0.9rem;
    padding: 10px;
    
    &__header{
    font-family: 'Arial Rounded MT';
    color:white;
    background-color: #007b40;
    text-transform: uppercase;
    border-radius: 0.9rem;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 800;
    display: grid;
    grid-template-columns:  4fr 0.3fr ;
    align-items: center;
        justify-items: center;
        align-content: center;
    &__title{
        grid-column: 1 / 2;
    }
    &__icon{
        grid-column: 2 / 3;
    }
    }
         &__ul {
             margin: 0 20px 0 20px ;
         }
}